<img  src= <%= @user.picture %> >
<br>
<h1> Name: <%= @user.name %></h1>
<br>
<p> Bio: <%= @user.bio %></p>
<br><hr><br>
<h3> Favorites </h3>
<ul>
    <% for @user.favoritees do |favorite| %>
    <li> <%= favorite.favoritee.name %> 
    (<%= link_to "Remove Favorite", favorite, :method => :delete %>)
    </li>
    <% end %>
</ul>
<br><hr><br>
<h3> Favorited by Users</h3>
<ul>
    <% for @user.favoriter do |user| %>
    <li> <%= user.favoriter.name %> </li>
    <% end %>
</ul>
<br><hr><br>
<%= button_to "Favorite Like-Minded User", favorites_path(:favoritee_id => user), :method => :post %>
<br><hr><br>
<%= button_to "Edit Profile", edit_user_path(@user), :method => :get %>
<br><hr><br>
<%= button_to "Delete Profile", user_path(@user), :method => :delete %>

