<img  src= <%= @user.picture %> >
<br>
<h1> Name: <%= @user.name %></h1>
<br>
<p> Bio: <%= @user.bio %></p>
<br><hr><br>
<h3> Favorites </h3>
<ul>
    <% @user.favorited_users.each do |favoritee| %>
    <li> <%= favoritee.name %> 
    (<%= link_to "Remove Favorite", delete_favorite_user_path(favoritee), :method => :delete %>)
    </li>
    <% end %>
</ul>
<br><hr><br>
<h3> Favorited by Users</h3>
<ul>
    <% @user.users_who_favorited_me.each do |favoriter| %>
    <li> <%= favoriter.name %> </li>
    <% end %>
</ul>
<br><hr><br>
<%= button_to "Favorite Like-Minded User", "/users/#{@user.id}/favorite", :method => :get %>
<br><hr><br>
<% if @user == current_user %>
<%= button_to "Edit Profile", edit_user_path(@user), :method => :get %>
<% end %>
<br><hr><br>
<% if @user == current_user %>
<%= button_to "Delete Profile", user_path(@user), :method => :delete %>
<% end %>


